In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
columns_names = ['session','client','?','choice'] + ["option_0"+str(i) for i in range(1,4)] + ["option_1"+str(i) for i in range(1,4)]

data = pd.read_csv("data_for_matlab.csv",header=None,index_col=None, names=columns_names )

,session,client,?,choice,option_01,option_02,option_03,option_11,option_12,option_13
0,5,0,1,0,105,105,80,32,144,80
1,5,0,2,1,21,95,80,6,130,80
2,5,0,3,1,125,85,80,52,124,80
3,5,0,4,0,41,75,80,26,110,80
4,5,0,5,1,145,65,80,72,104,80
...,...,...,...,...,...,...,...,...,...,...
1411,6,23,34,1,21,95,150,6,130,150
1412,6,23,35,0,125,85,150,52,124,150
1413,6,23,36,0,41,75,150,26,110,150
1414,6,23,37,1,145,65,150,72,104,150
1415,6,23,38,1,61,55,150,46,90,150

In [6]:
#replicate table 1
1-data.groupby('?')['choice'].mean()

?
1     0.833333
2     0.466667
3     0.783333
4     0.266667
5     0.733333
6     0.333333
7     0.583333
8     0.333333
9     0.833333
10    0.533333
11    0.416667
12    0.166667
13    0.816667
14    0.250000
15    0.875000
16    0.291667
17    0.800000
18    0.375000
19    0.375000
20    0.750000
21    0.625000
22    0.583333
23    0.333333
24    0.458333
25    0.208333
26    0.208333
27    0.833333
28    0.291667
29    0.666667
30    0.208333
31    0.208333
32    0.416667
33    0.625000
34    0.250000
35    0.916667
36    0.250000
37    0.750000
38    0.208333
Name: choice, dtype: float64

In [ ]:
#present biased-01
#a1 c1, a2 c2

#future biased - 10
#-a2 c1, a1 c2

#time consistent -00,11,  
#a1 c1 +a1 c2 or a2 c1 +a2 c2

In [30]:
#four outcomes based on 1-6
biases = pd.DataFrame()
client_names = data['client'] + (data['session']-5)*36
biases['client'] = client_names.unique()

present_biases = []
future_biases = []
for client in client_names.unique():
    obs = (data['client'] + (data['session']-5)*36 == client)
    #first check 1-2
    present_bias = 0
    future_bias = 0
    for i in range(3):
        
        choice1 = int(data['choice'][ (data['?']==(1+2*i)) & obs ])
        choice2 = int(data['choice'][ (data['?']==(2+2*i)) & obs ])
        present_bias_i = (1-choice1)*choice2
        present_bias = max(present_bias_i,present_bias)
        future_bias_i = (1-choice2)*choice1
        future_bias = max(future_bias_i,future_bias)
        #print((1+2*i),(2+2*i))
        #print(choice1,choice2)
        #print(present_bias_i,future_bias_i)
        #print('-----')
  
    present_biases.append(present_bias)
    future_biases.append(future_bias)

    #next check 2-3
    
    #next check 3-4
    


biases['present_bias'] = present_biases
biases['future_bias'] = future_biases
#print(biases)
print( (biases['present_bias']*(1-biases['future_bias'])).mean() )
print( (biases['future_bias']*(1-biases['present_bias'])).mean() )
print( (biases['future_bias']*biases['present_bias']).mean() )
print( ( (1-biases['present_bias'])*(1-biases['future_bias'])).mean() )

0.75
0.15
0.08333333333333333
0.016666666666666666